
.main {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.intro {
  position:relative; 
  justify-self: center;
}

.grid {
  border: 1px solid black;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5vh;
  height: 60vh;
  justify-content: space-evenly;
  overflow-y: auto;
  padding-bottom: 5vh;
  padding-top: 5vh;
  margin: 5vh;
}

.card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 15vw;
}